@import 'config';
@import 'menu';
@import 'mobile'; 


*{
    box-sizing: border-box;
}
body{
    @include background();
    background: $primary-color;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    &#about{
      background: linear-gradient(30deg, $primary-color 80%,lighten($primary-color, 10) 50%);
    }
}

//Heading
h1, h2 ,h3 {
    margin: 0;
    font-weight: 450;

    &.lg-heading {
        font-size: 6rem;
        line-height: 1;

    }
    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        line-height: 3;

       // background: rgba(lighten($primary-color, 2), 0.5);

        }
}
a {
    color: white;
    text-decoration: none;
}
header{
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary{
    color: #eece1a;

    &:hover {
        color: red;
        @include easeOut();
        }
}

main {
    padding: 4rem;
    min-height: calc(100vh - 3em);

    .icons {
        margin-top: 1rem;

        a{
        padding: 0.4rem;

        &:hover {
            color: $secondary-color;
            @include easeOut();
        }
        }
    }
    .icons, .sm-heading, .text-secondary {
        margin-left: 6rem; 

    }
    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}

.wraper{
    max-width: 250px;
    height: auto;
    grid-area: wraper;
    margin: auto;
    
    & > img {
        width: 100%; 
        height: auto;   
        border-radius: 50%;
        border: 3px solid $secondary-color;
     
    }
}

.about-section {
    display: grid;
    grid-gap: 2em;
    grid-template-areas: 
    'wraper bio bio'
    'job-1 job-2 job-3';  
    grid-template-columns: repeat(3, 1fr);
}

.bio{
    grid-area: bio;
    & > h3{
        color: $secondary-color;
    }
}
.job{
    background: lighten($primary-color, 6);
    padding: 0.5rem;
    border-bottom: $secondary-color 6px solid;
}
.job-1 {
    grid-area: job1;
}
.job-2 {
    grid-area: job2;
}
.job-3 {
    grid-area: job3;
}
.work-section{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;


    img{
        width: 100%;
        border: 3px #fff solid;
    }
    img:hover{
        opacity: 0.6;
        border-color: $secondary-color;
        @include easeOut;
        cursor: pointer;
    }

}

//button styles
.btn{
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    text-align: center;     
  
}
.btn-dark{
    @extend .btn;
    background: darken($primary-color, 66);
    color: #fff;
    &:hover{
        background: darken($primary-color, 10);
    }
}
.btn-light{
    @extend .btn;
    background: lighten($secondary-color, 66);
    color: #333;
    &:hover{
        background: lighten($secondary-color, 18);     
    } 
}
footer{ 
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 6);
    color: #fff;
    height: 3em;  
}

@import 'mobile'; 
